{% extends "base.html" %}

{% block body_class %}profile-page{% endblock %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="profile-container">

    <div class="profile-card">

        <h2 class="profile-title">My Profile</h2>

        <table class="profile-table">

            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>

            <tr>
                <th>Mobile</th>
                <td>{{ user.mobile }}</td>
            </tr>

            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>

            {% if user.role in ['citizen', 'state_admin', 'municipal_admin', 'department_admin','field_staff','facilitator'] %}
            <tr>
                <th>State</th>
                <td>{{ user.state_name or '-' }}</td>
            </tr>
            {% endif %}

            {% if user.role in ['citizen', 'municipal_admin', 'department_admin','field_staff','facilitator'] %}
            <tr>
                <th>City</th>
                <td>{{ user.city_name or '-' }}</td>
            </tr>
            {% endif %}

            {% if user.role in ['citizen','facilitator'] %}
            <tr>
                <th>Ward</th>
                <td>{{ user.ward_name or '-' }}</td>
            </tr>
            {% endif %}

        </table>

        <div class="profile-actions">

            {% if user.role != 'super_admin' %}
            <a href="{{ url_for('profile.update_profile') }}" class="btn-primary">
                ✏️ Edit Profile
            </a>
            {% endif %}

            <a href="{{ url_for('auth.profile_reset_password') }}" class="btn-primary">
                🔒 Change Password
            </a>

            <a href="{{ url_for('dashboard.dashboard') }}" class="btn-secondary">
                🏠 Back to Dashboard
            </a>

        </div>

    </div>

</div>

{% endblock %}