{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="center-page">
    <div class="auth-card">
        <h2>Reset Your Password</h2>

        <form method="POST" action="{{ url_for('auth.profile_reset_password') }}">
            <!-- Current Password -->
            <div class="form-group">
                <label for="current_password">Current Password</label>
                <input type="password" id="current_password" name="current_password" required>
            </div>

            <!-- New Password -->
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>

        <a href="{{ url_for('auth.forgot_password') }}" class="btn btn-outline"> Forgot password❓</a>
        
    </div>
</div>
{% endblock %}
