<!-- templates/issue_assign.html -->
{% extends "base.html" %}
{% block content %}

<div class="center-page">
<div class = "auth-card">
<h2>Assign Issue</h2>

<p><strong>Issue:</strong> {{ issue.title }}</p>

<form method="POST">

    <label for="department">Assign to Department</label>
    <select name="department_id" id="department" required>
        {% for dept in departments %}
        <option value="{{ dept.department_id }}">{{ dept.name }}</option>
        {% endfor %}
    </select>

    <label for="deadline">Deadline</label>
    <input type="datetime-local" name="deadline" id="deadline" 
        min="{{ min_deadline }}" required>

    <label for="remarks">Remarks</label>
    <textarea name="remarks" id="remarks" rows="3"></textarea>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Assign Issue</button>
    </div>
</form>
        <a href="{{ url_for('issues.issue_detail', issue_id=issue.issue_id) }}" class="btn btn-primary">⬅ Back to Issue</a>

</div>
</div>
{% endblock %}
